<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% if validlink %}
      <h3 >Change password for @{{ form.user.username }}</h3>
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form }}
        <button type="submit">Change password</button>
      </form>
    {% else %}
      <h3>Reset your password</h3>

      <h2>  It looks like you clicked on an invalid password reset link. Please try again.</h2>

      <a href="{% url 'accounts:password_reset' %}">Request a new password reset link</a>
    {% endif %}
  </body>
</html>
