{% extends "base.html" %}
{% block title %}Menu{% endblock %}
{% block body_block %}

<section class="menu-area section-gap" id="menu">
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="menu-content pb-70 col-lg-8">
      <div class="title text-center">
        <h1 class="mb-10">What kind of Foods we serve for you</h1>
        <p>Who are in extremely love with eco friendly system.</p>
      </div>
    </div>
  </div>

  <ul class="filter-wrap filters col-lg-12 no-padding">
      <li class="active" data-filter="*">All Menu</li>
      <li data-filter=".breakfast">Breakfast</li>
      <li data-filter=".lunch">Lunch</li>
      <li data-filter=".dinner">Dinner</li>
      <li data-filter=".budget-meal">Budget Meal</li>
      <li data-filter=".buffet">Buffet</li>
  </ul>

  <div class="filters-content">
    <div class="row grid">
    {% for menu in menu_list %}
      {% if menu.item_type|stringformat:'s' == "BreakFast" %}
        <div class="col-md-6 all">
          <div class="single-menu">
            <div class="title-wrap d-flex justify-content-between">
              <h4>{{ menu.item_name }}</h4>
              <h4 class="price">{{ menu.item_price }}</h4>
            </div>
            <p>{{ menu.item_description }}</p>
          </div>
        </div>
      {% elif menu.item_type|stringformat:'s' == "Meals" %}
        <div class="col-md-6  all lunch">
          <div class="single-menu">
            <div class="title-wrap d-flex justify-content-between">
              <h4>{{ menu.item_name }}</h4>
              <h4 class="price">{{ menu.item_price }}</h4>
            </div>
            <p>{{ menu.item_description }}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
</section>
<!-- End menu-area Area -->


{% endblock %}
